
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=cc658789c3e967b216e95d216d82e376
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress